body {
  background-color: rgb(36, 34, 34);
  color: whitesmoke;
}
h1 {
  font-family: "Montenegrin Gothic One", serif;
  text-align: center;
  background-color: #91008d;
  border-radius: 8px;
  border: 2px solid white;
  padding: 10px;
}
h2 {
  font-family: "Fraunces", serif;
  background-color: #ff3483;
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
  text-align: center;
}
img {
  display: block;
  width: auto;
  margin: auto;
  max-width: 800px;
  width: 100%;
  border: 2px solid white;
}
p {
  font-family: "Domine", serif;
  margin: auto;
  padding: 10px;
}

h3 {
  font-family: "Cinzel", serif;
  background-color: #ffcc00;
  margin: auto;
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  display: inline-block;
}
h4 {
  font-family: "Cinzel", serif;
  background-color: #f25912;
  border: 2px solid black;
  border-radius: 8px;
  padding: 9px;
  display: inline-block;
}
.p1 {
  font-family: "Bree Serif", serif;
  background-color: #293848;
  border: 2px solid white;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}
.p2 {
  background-color: #322f3d;
  border: 2px solid white;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}
a {
  background-color: aqua;
  display: inline-block;
  padding: 10px;
  border: 2px solid white;
  border-radius: 8px;
}
ul {
  margin: auto;
}
footer {
  background-color: rgb(74, 32, 32);
  padding: 10px;
  text-align: center;
  border: 2px solid white;
  border-radius: 8px;
}
